*.o
*.d
*.bin
tags
.vs/
.*.swp
lib*.a
lib*.so
lib*.so.*
*.vcxproj.user
.jshintrc
src/c-lib/build/
src/c-lib/build-test/
src/c-lib/build-wasm/
src/c-lib/docstmp/
src/c-lib/corpus-*/
src/c-lib/crash-*
src/c-lib/fuzz-*
src/c-lib/out.tif
src/c-lib/out.bmp
src/dotnet-lib/bin/
src/dotnet-lib/obj/
src/dotnet-app/bin/
src/dotnet-app/obj/
src/js-wasm/node_modules/
src/js-wasm/package.json
src/js-wasm/package-lock.json
src/js-wasm/gs1encoder-wasm.mjs
src/js-wasm/gs1encoder-wasm.wasm
src/js-wasm/gs1encoder-wasm.mem
.DS_Store
**/project.xcworkspace/xcuserdata/*
