---
name: Coverity Scan

on:
  schedule:
    - cron: '0 3 * * *'  # Daily at 03:00 UTC
  workflow_dispatch:

permissions:
  contents: read

jobs:

  coverity:

    if: github.repository == 'gs1/gs1-syntax-engine'

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Download Coverity Build Tool MD5
        run: |
          curl -fsS -o cov-analysis.tgz.md5 \
            --form token="${COVERITY_SCAN_TOKEN}" \
            --form project="${COVERITY_SCAN_PROJECT}" \
            --form md5=1 \
            'https://scan.coverity.com/download/cxx/linux64'
        env:
          COVERITY_SCAN_TOKEN: ${{ secrets.COVERITY_SCAN_TOKEN }}
          COVERITY_SCAN_PROJECT: ${{ vars.COVERITY_SCAN_PROJECT }}

      - name: Cache Coverity Build Tool
        uses: actions/cache@v4
        id: cache-coverity
        with:
          path: cov-analysis.tgz
          key: coverity-tool-${{ hashFiles('cov-analysis.tgz.md5') }}

      - name: Download Coverity Build Tool
        if: steps.cache-coverity.outputs.cache-hit != 'true'
        run: |
          curl -fsS -o cov-analysis.tgz \
            --form token="${COVERITY_SCAN_TOKEN}" \
            --form project="${COVERITY_SCAN_PROJECT}" \
            'https://scan.coverity.com/download/cxx/linux64'
        env:
          COVERITY_SCAN_TOKEN: ${{ secrets.COVERITY_SCAN_TOKEN }}
          COVERITY_SCAN_PROJECT: ${{ vars.COVERITY_SCAN_PROJECT }}

      - name: Extract Coverity Build Tool
        run: |
          mkdir cov-analysis
          tar xzf cov-analysis.tgz --strip-components=1 \
            -C cov-analysis

      - name: Build with Coverity
        run: |
          COV_BIN="$(pwd)/cov-analysis/bin"
          export PATH="${COV_BIN}:${PATH}"
          cov-build --dir cov-int \
            make -C src/c-lib -j "$(nproc)" all CC=gcc

      - name: Submit to Coverity Scan
        run: |
          tar czf cov-int.tgz cov-int
          curl -fsS \
            --form token="${COVERITY_SCAN_TOKEN}" \
            --form email="${COVERITY_SCAN_EMAIL}" \
            --form file=@cov-int.tgz \
            --form version="$(git rev-parse --short HEAD)" \
            --form description="Automated daily scan" \
            --form project="${COVERITY_SCAN_PROJECT}" \
            'https://scan.coverity.com/builds'
        env:
          COVERITY_SCAN_TOKEN: ${{ secrets.COVERITY_SCAN_TOKEN }}
          COVERITY_SCAN_EMAIL: ${{ secrets.COVERITY_SCAN_EMAIL }}
          COVERITY_SCAN_PROJECT: ${{ vars.COVERITY_SCAN_PROJECT }}
